.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.Board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Board ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  list-style: none; 
  padding-left:0px;
}

.Board li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.day {
  font-size: 70%;
}

.button-container {
  height: 100%;
  margin: 20px;
}
